*{
    padding: 0;
    margin: 0;
    overflow: auto;
}
.main{
    width: 100%;
    background: rgba(0,0,0,0.5)url(contact\ yeah.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-blend-mode: darken;
}
.container{
    
    border-radius: 60%;
    position: absolute;
    display: flex;

    box-sizing: border-box;
    left: 620px;
    top: 35px;
}
.container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.btn{
    position: absolute;
    left: 1200px;
    top: 20px;
    width: 80px;
    height: 30PX;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20PX;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn:hover{
    background-color: orangered;
}
.loc{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 320px;
    left: 400px;
    
}
.call{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 320px;
    left: 900px;
    
     
}
.OFF{
    position: absolute;
    top: 400px;
    left: 230px;
    text-align: center;
    color: white;
    font-weight: bolder;
    margin: 10px;
}
.add{
    position: absolute;
    top: 460px;
    left: 280px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;

}
.con{
    position: absolute;
    top: 400px;
    left: 850px;
    text-align: center;
    color: white;
    font-weight: bolder;
    margin: 10px;
    
}
.num{
    position: absolute;
    top: 460px;
    left: 820px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.tact{
    position: absolute;
    top: 190px;
    left: 600px;
   
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.act{
    position: absolute;
    top: 230px;
    left: 500px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}